:root {
    --oxfordBlue: #031D44;
    --prussianBlue: #04395E;
    --polishedPine: #70A288;
    --burlywood: #dab785;
    --copperCrayola: #D5896F;
    --lavenderWeb: #DED9E2;
}

* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}
    
    
body {
    color: var(--lavenderWeb);
    background-color: var(--prussianBlue);
    padding: 5px;
    font-family: 'Rubik Dirt', cursive;
    font-size: 35px;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl {
    margin: 20px 0;
}

li, dd, blockquote {
    margin-left: 40px;

}
    
table {
    border-collapse: collapse;
    border-spacing: 0;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 30px;
}

h1 {
    font-size: 50px;
}

#choices-container {
    display: flex;
    justify-content: space-evenly;
    margin: 200px auto 0;
    max-width: 1500px;
}

.choice {
    cursor: pointer;
    transition: all 260ms ease-out;
}

.choice:hover {
    transform: scale(1.2);
}